<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissão para ler músicas -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Permissões obrigatórias para player moderno -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MusicPlayerLocal"
        android:theme="@style/Theme.MusicPlayerLocal">

        <!-- Activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ✅ SERVICE DE MÚSICA (OBRIGATÓRIO PARA BLUETOOTH) -->
        <service
            android:name=".service.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
